p{
    color:blue
}
#funny-stuff{
    background-color: beige;
    border: 10px dotted purple;
    width: 60 px
    ;
}
.joemama{
    font-weight: 900;
    text-decoration: underline;
}
h1{

    font-size: 300px;
}