header{
    color: aqua;
    background-color: bisque;
    text-align: center;
}

#main{
    background-color: blanchedalmond;
    text-align:center;
    color: blue;
    height: 100px;
    width:500 px;
    border: 5px solid black;
}
#nav-bar{
    background-color: plum;
    text-align: center;
    color: yellowgreen;
    height: 100px;
    width:500 px;
    border: solid black 5px;

}
#content{
    background-color: paleturquoise;
    text-align: left;
    color: red;
    height: 100px;
    width:500 px;
    border: solid black 5px;
   
}

.nav-btn{
    background-color: pink;
    border: 2px black dotted;
    color: blue;
    height: 100x;
    width:500px;
}
